In [13]:
import pandas as pd

In [15]:
obs_data = pd.read_csv('./indian_customer_data.csv')

In [16]:
obs_data.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,IN001,Aarav,Sharma,Infosys,Bengaluru,India,-9876543119,-8.765432e+09,aarav@infosys.com,12-05-2023,https://www.infosys.com
1,2,IN002,Priya,Patel,TCS,Mumbai,India,-9123456698,NaN,priya@tcs.com,07-11-2022,https://www.tcs.com
2,3,IN003,Rahul,Verma,Wipro,Hyderabad,India,-9988776564,-9.666554e+09,rahul@wipro.com,20-02-2023,https://www.wipro.com
3,4,IN004,Sneha,Reddy,HCL,Chennai,India,-9090908999,NaN,sneha@hcl.com,18-08-2022,https://www.hcltech.com
4,5,IN005,Vikram,Mehta,Tech Mahindra,Pune,India,-8877665453,-7.766554e+09,vikram@techm.com,03-07-2023,https://www.techmahindra.com