In [13]:
import pandas as pd

In [15]:
obs_data = pd.read_csv('./indian_customer_data.csv')

In [16]:
obs_data.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,IN001,Aarav,Sharma,Infosys,Bengaluru,India,-9876543119,-8.765432e+09,aarav@infosys.com,12-05-2023,https://www.infosys.com
1,2,IN002,Priya,Patel,TCS,Mumbai,India,-9123456698,NaN,priya@tcs.com,07-11-2022,https://www.tcs.com
2,3,IN003,Rahul,Verma,Wipro,Hyderabad,India,-9988776564,-9.666554e+09,rahul@wipro.com,20-02-2023,https://www.wipro.com
3,4,IN004,Sneha,Reddy,HCL,Chennai,India,-9090908999,NaN,sneha@hcl.com,18-08-2022,https://www.hcltech.com
4,5,IN005,Vikram,Mehta,Tech Mahindra,Pune,India,-8877665453,-7.766554e+09,vikram@techm.com,03-07-2023,https://www.techmahindra.com

In [17]:
obs_data.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,IN001,Aarav,Sharma,Infosys,Bengaluru,India,-9876543119,-8.765432e+09,aarav@infosys.com,12-05-2023,https://www.infosys.com
1,2,IN002,Priya,Patel,TCS,Mumbai,India,-9123456698,NaN,priya@tcs.com,07-11-2022,https://www.tcs.com
2,3,IN003,Rahul,Verma,Wipro,Hyderabad,India,-9988776564,-9.666554e+09,rahul@wipro.com,20-02-2023,https://www.wipro.com
3,4,IN004,Sneha,Reddy,HCL,Chennai,India,-9090908999,NaN,sneha@hcl.com,18-08-2022,https://www.hcltech.com
4,5,IN005,Vikram,Mehta,Tech Mahindra,Pune,India,-8877665453,-7.766554e+09,vikram@techm.com,03-07-2023,https://www.techmahindra.com

In [18]:
obs_data.tail(2)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
3,4,IN004,Sneha,Reddy,HCL,Chennai,India,-9090908999,NaN,sneha@hcl.com,18-08-2022,https://www.hcltech.com
4,5,IN005,Vikram,Mehta,Tech Mahindra,Pune,India,-8877665453,-7.766554e+09,vikram@techm.com,03-07-2023,https://www.techmahindra.com

In [19]:
obs_data.head(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,IN001,Aarav,Sharma,Infosys,Bengaluru,India,-9876543119,-8.765432e+09,aarav@infosys.com,12-05-2023,https://www.infosys.com
1,2,IN002,Priya,Patel,TCS,Mumbai,India,-9123456698,NaN,priya@tcs.com,07-11-2022,https://www.tcs.com
2,3,IN003,Rahul,Verma,Wipro,Hyderabad,India,-9988776564,-9.666554e+09,rahul@wipro.com,20-02-2023,https://www.wipro.com

In [20]:
list(obs_data.index)

[0, 1, 2, 3, 4]

In [24]:
obs_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              5 non-null      int64
 1   Customer Id        5 non-null      object
 2   First Name         5 non-null      object
 3   Last Name          5 non-null      object
 4   Company            5 non-null      object
 5   City               5 non-null      object
 6   Country            5 non-null      object
 7   Phone 1            5 non-null      int64
 8   Phone 2            3 non-null      float64
 9   Email              5 non-null      object
 10  Subscription Date  5 non-null      object
 11  Website            5 non-null      object
dtypes: float64(1), int64(2), object(9)
memory usage: 612.0+ bytes

In [28]:
import pandas as pd
data = {
    "Duration":{
        "0":60,
        "1":45,
        "2":50,
        "3":39,
        "4":60,
        "5":55
    },
    "Pulse":{
        "0":110,
        "1":120,
        "2":101,
        "3":135,
        "4":145,
        "5":123
    },
    "Maxpulse":{
        "0":130,
        "1":145,
        "2":135,
        "3":175,
        "4":148,
        "5":127
    },
    "Calories":{
        "0":600,
        "1":405,
        "2":570,
        "3":309,
        "4":650,
        "5":535
    },
}
df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       600
1        45    120       145       405
2        50    101       135       570
3        39    135       175       309
4        60    145       148       650
5        55    123       127       535

In [29]:
df.to_csv('fitness_data.csv')

In [30]:
obs_data.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,IN001,Aarav,Sharma,Infosys,Bengaluru,India,-9876543119,-8.765432e+09,aarav@infosys.com,12-05-2023,https://www.infosys.com
1,2,IN002,Priya,Patel,TCS,Mumbai,India,-9123456698,NaN,priya@tcs.com,07-11-2022,https://www.tcs.com
2,3,IN003,Rahul,Verma,Wipro,Hyderabad,India,-9988776564,-9.666554e+09,rahul@wipro.com,20-02-2023,https://www.wipro.com
3,4,IN004,Sneha,Reddy,HCL,Chennai,India,-9090908999,NaN,sneha@hcl.com,18-08-2022,https://www.hcltech.com
4,5,IN005,Vikram,Mehta,Tech Mahindra,Pune,India,-8877665453,-7.766554e+09,vikram@techm.com,03-07-2023,https://www.techmahindra.com

In [32]:
obs_data.loc[0,'Company']

'Infosys'

In [40]:
obs_data.loc[1:3,['Customer Id','First Name','Last Name','Company','City',]]

  Customer Id First Name Last Name Company       City
1       IN002      Priya     Patel     TCS     Mumbai
2       IN003      Rahul     Verma   Wipro  Hyderabad
3       IN004      Sneha     Reddy     HCL    Chennai