In [1]:
print("Hello World!")

Hello World!

In [3]:
import pandas as pd
dataset = {'Name':["Sunil","Vivan","Sahil"],
           'Age':[18,19,21]}

myvar = pd.DataFrame(dataset)
print(myvar)

    Name  Age
0  Sunil   18
1  Vivan   19
2  Sahil   21

In [4]:
import pandas as pd
print(pd.__version__)

2.2.3

In [5]:
import pandas as pd
arr = [10,20,30,40]
myvar = pd.Series(arr)
print(myvar)

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
arr[0]

10

In [7]:
arr[3]

40

In [8]:
arr[2]

30

In [10]:
myvar = pd.Series(arr, index = ["a", "b", "c", "d"])
print(myvar)

a    10
b    20
c    30
d    40
dtype: int64

In [11]:
arr

[10, 20, 30, 40]

In [12]:
print(arr)

[10, 20, 30, 40]

In [13]:
import pandas as pd
arr = [10,20,30,40]
myvar = pd.Series(arr)
myvar = pd.Series(arr, index = ["a", "b", "c", "d"])
print(myvar)

a    10
b    20
c    30
d    40
dtype: int64

In [19]:
arr[0]

10

In [20]:
import pandas as pd
arr = ["Manav","Sohan","Soham","Surendra"]
myvar = pd.Series(arr)

In [21]:
print(myvar)

0       Manav
1       Sohan
2       Soham
3    Surendra
dtype: object